/* =Nav (Right Menu)
/*--------------------*/
.sidebar {
	width: 320px;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 1000;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #F1F1F1;

}

.sidebar a {
	border-bottom: 1px solid #B4B4B4;
	padding: 20px;
	display: block;
	color: #333333;
	font-size: 20px;
	font-weight: 300;
}

.sidebar a:hover, .sidebar a:focus {
	color: #FFFFFF;
	background: #000000;
}

.sidebar a:active {
	background: #666666;
	color: #333333;
}

.sidebar h3 {
	color: #FFFFFF;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #555555;
}


/* =Menu Controls
-------------------------*/
.sidebar-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.sidebar-push-toleft {
	left: -320px;
}
.sidebar-right {
	right: -320px;
}
.sidebar-right.sidebar-open {
	right: 0px;
}

/* =Transitions
-------------------------*/

.sidebar,
.sidebar-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



/* =Menu Close Button
-------------------------*/
.closeButton {
	width: 100%;
	max-width: 80px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	border: none;
	background: #CD1234;
	color: #fff;
	display: block;
	cursor: pointer;
	font-size: 20px;
	float: right;
}

.closeButton a {
	color: #FFFFFF;
}

.closeButton:hover {
	background: #FF1943;
}

.closeButton.active {
	background: #FF1943;
}
