/* =Project Button
--------------------------*/
.projectButton {
	border: none;
	background: #F0F0F0;
	color: #777777;
	padding: 15px;
	display: block;
	width: 100%;
	max-width: 150px;
	cursor: pointer;
	font-size: 20px;
}

.projectButton a {
	color: #777777;
}
.projectButton:hover a, .projectButton:focus a{
	color: #FFFFFF;
}
.projectButton:hover, .projectButton:focus {
	background-color: #000000;
}


/* =Header
--------------------------*/
.headFix {
	margin: 0px 0px 40px 0px !important;
	/* Debugging - Remove when done
	background: #FF0000; */
}

.rowFix {
	margin: 0px 0px 20px 0px !important;
	/* Debugging - Remove when done
	background: #FF0000; */
}
#projectContainerRow {
	/* margin-top: 50px !important;
	background: #FF0000; */
}
#projectButtonRow {
	margin-top: 40px !important;
	margin-bottom: 20px !important;

	/* Debugging - Remove when done
	background: #FF0000; */
}
#projectDesc {
	padding: 0px 25px 0px 25px;
	color: #333333;
}
#projectDesc a {
	color: #777777;
}
#projectDesc a:hover, #projectDesc a:focus {
	color: #000000;
}
#brandlogo {
	margin-top: 47px;
	/* background: url('../images/brandlogo.png') no-repeat left top; */
}
#menuButtonContainer {
	margin-top: 47px;
	padding-top: 12px;
}
#mainContent {
	padding: 15px;
	text-align: center;
	/* Debugging - Remove when done
	background-color: #666666; */
}


/* =Carousel Fade
	------------------------*/
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out 3.5s;
  -o-transition: opacity ease-in-out 3.5s;
  -webkit-transition: opacity ease-in-out 3.5s;
  transition: opacity ease-in-out 3.5s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 3.5s;
  -o-transition: opacity ease-in-out 3.5s;
  -webkit-transition: opacity ease-in-out 3.5s;
  transition: opacity ease-in-out 3.5s;
  z-index:2;
}



.email a {
	color: #777777;
	font-size: 15px;
}
.email a:hover, .email a:focus {
	color: #000000;
	text-decoration: underline;
}