/* =Menu Button
--------------------------*/
.menuButton {
	border: none;
	background: #FFFFFF;
	color: #777777;
	padding: 15px;
	display: block;
	width: 100%;
	max-width: 75px;
	cursor: pointer;
	margin: 0;
	font-size: 18px;
	float: right;
}

.menuButton a {
	color: #777777;
}
.menuButton:hover a, .menuButton:focus a{
	color: #FFFFFF;
}
.menuButton:hover, .menuButton:focus {
	background: #000000;
}

.menuButton.active {
	background: #333333;
}

.menuButton.disabled, .menuButton.disabled a {
	background: #F0F0F0;
	pointer-events: none;
}

.menuButton h2 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-weight: 200;
}


/* =Nav (Right Menu)
/*--------------------*/
.sidebar {
	width: 320px;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 1000;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #FFFFFF;

}

.sidebar a {
	border-bottom: 0px solid #F9F9F9;
	padding: 20px;
	display: block;
	color: #333333;
	font-size: 16px;
	font-weight: 300;
}

.sidebar a:hover, .sidebar a:focus {
	color: #FFFFFF;
	background: #000000;
}

.sidebar a:active {
	background: #666666;
	color: #333333;
}

.sidebar h3 {
	color: #FFFFFF;
	font-size: 20px;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #555555;
}


/* =Menu Controls
-------------------------*/
.sidebar-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.sidebar-push-toleft {
	left: -320px;
}
.sidebar-right {
	right: -320px;
}
.sidebar-right.sidebar-open {
	right: 0px;
}

/* =Transitions
-------------------------*/

.sidebar,
.sidebar-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



/* =Menu Close Button
-------------------------*/
.closeButton {
	width: 100%;
	max-width: 80px;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 7px;
	border: none;
	background: #CD1234;
	color: #fff;
	display: block;
	cursor: pointer;
	font-size: 20px;
	float: right;
}

.closeButton a {
	color: #FFFFFF;
}

.closeButton:hover {
	background: #FF1943;
}

.closeButton.active {
	background: #FF1943;
}
